.Home {
    background-color: black;
    color: white;
    font-family: "Raleway", sans-serif;
}

.projectWindNew {
    position: absolute;
    top: 51vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.item-1 {
    width: 15vh;
    height: 15vh;
}

.screen {
    width: 100vw;
    height: 100vh;
}

.video {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/* Now on home page */

.title {
    margin: 0;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 40vh;
    left: 35vw;
    font-size: 0;
    bottom: 70vh;
}

.titleBlock {
    overflow: hidden;
    display: inline-block;
    font-size: 25vh;
}
@media only screen and (max-width: 800px) {
    .titleBlock {
        overflow: hidden;
        display: inline-block;
        font-size: 20vw;
    }
}
/*Not used*/

.about {
    cursor: url("../../assets/circleHover.png"), pointer;
    position: absolute;
    margin: 0;
    top: 2.5vh;
    right: 2.5vw;
    padding-top: 2.5vh;
    padding-bottom: 1vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}
.experience {
    cursor: url("../../assets/circleHover.png"), pointer;
    position: absolute;
    margin: 0;
    bottom: 2.5vh;
    left: 2.5vw;
    padding-top: 2.5vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-bottom: 2.5vh;
}
.projects {
    cursor: url("../../assets/circleHover.png"), pointer;
    position: absolute;
    margin: 0;
    top: 2.5vh;
    left: 2.5vw;
    padding-top: 2.5vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-bottom: 1vh;
}
.contact {
    cursor: url("../../assets/circleHover.png"), pointer;
    position: absolute;
    margin: 0;
    bottom: 2.5vh;
    right: 2.5vw;
    padding-top: 2.5vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-bottom: 2.5vh;
}

/*software Engineer*/
.centerName {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    left: 17vw;
    top: 15vh;
    font-size: 2vw;
    color: black;
    opacity: 0.1;
}

.rightNumbers {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    left: 80vw;
    top: 15vh;
}
.centerLine {
    position: absolute;
    width: 7vw;
    height: 5vh;
    left: 60vw;
    top: 80vh;
    transform: translate(0%, -100%);
}
.numberNextToCenterLine {
    position: absolute;
    left: 68vw;
    top: 71.4vh;
    font-size: 2.5vh;
}
.line {
    stroke: rgb(255, 255, 255);
    stroke-width: 2;
}

.overlayBlackMask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
