.PreHome {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: "Raleway", sans-serif;
}

.lineInstructions {
    position: absolute;
    left: 30vw;
    top: 35vh;
}

.sideLine {
    stroke-width: 2;
}

.name {
    position: absolute;
    left: 60vw;
    top: 20vh;
}
.instructions {
    position: absolute;
    left: 60vw;
    bottom: 20vh;
}

.imageContainer {
    position: absolute;
    width: 15vh;
    height: 15vh;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.icon {
    cursor: url("../../assets/circleHover.png"), pointer;
    opacity: 0;
    object-fit: contain;
    width: 100%;
    height: 100%;
    filter: invert(1);
}

.projectWind {
    visibility: hidden;
    position: absolute;
    top: 51vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.projectWindJapanese {
    visibility: hidden;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.projectWindJapanese {
    color: black;
}
/* Loading Screen */

.projectWind,
.loaded,
.instructions,
.name {
    opacity: 0;
}
.box {
    position: absolute;
    width: 15vh;
    height: 15vh;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    /* border: 4px solid black; */
    /* overflow: hidden; */
}
