.Experience {
  color: white;
  background-color: black;
}

.videoYasuo {
  /* opacity: 0; */
  width: 0;
  position: absolute;
  object-fit: cover;
  top: 20vh;
  left: 26.25vw;
  height: 55vh;
}

.lineUnderProjects {
  stroke: rgb(255, 255, 255);
  stroke-width: 2;
}
.expDescription {
  font-size: 0.83rem;
  margin: 0;
}
.expDescription li {
  margin-bottom: 0.83rem;
}
.changeColor {
  color: rgb(0, 193, 255);
}

.jobTitle {
  margin: 0;
}
.company {
  margin-top: 0;
  margin-bottom: 0vh;
}

.jobDetails {
  font-size: 0.8rem;
  margin: 0;
  color: rgb(233, 171, 0);
}
@media (max-width: 999px) {
  .nameAbout {
    font-size: 2rem;
  }
  .flexRowItem {
    padding: 10%;
  }
}
@media (min-width: 1000px) {
  .experienceFlexContainer {
    display: flex;
    flex-direction: column;
    max-width: 47.5vw;
    margin: auto;

    justify-content: space-between;
  }
  .flexRowItem {
    display: flex;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .flexIndivBox {
    width: 60vw;
  }
}
